body {
    color: #566158;
    background: #CCE6D0; 
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #404040;
    text-decoration-color: #A55858;
}

/* $("a[href^='http://']").attr("target","_blank"); */

.siteHeader {
    height: 125px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    position: fixed;
    background: #CCE6D0;
    top: 0;
    left: 0;
    border-bottom-style: double;
    border-width: 2px;
    border-color: #39613E;
}

.siteHeader a:hover {
    text-decoration-color: #404040;
    background-color: #eeeeee;
}

h1 {
    display: inline-block;
    font-size: 48pt;
    position: absolute;
    line-height: 125px;
    left: 150px;
    padding-left: 10px;
    margin: auto;
}

.search-bar {
    position: absolute;
    left: 425px;
    top: 65px;
}

/* .boundary-line-vertical {
    width: 2px;
    height: 100%;
    background-color: #39613E; 
  
} */

nav {
    height: 100%;
    width: 150px;
    position: fixed;
    margin-top: 125px;
    padding-top: 20px;
    background: #CCE6D0;
    left: 0;
    border-right-style: double;
    border-width: 2px;
    border-color: #39613E;
}

nav ul {
    line-height: 1.5;
    list-style-type: none;
}


.nav-links a:hover {
    background-color: #eeeeee;
}

.nav-links a:visited {
    text-decoration-color: #eeeeee;
}

/* indented li for nav */
.sub-bullet {
    margin-left: 1em;
}

main {
    column-count: 3;
    column-gap: 10px;
    column-width: 400px;
    float: left;
    margin-left: 150px;
    margin-top: 150px;
    overflow-x: hidden;
}

article {
    background: #eeeeee;
    width: 400px;
    padding: 10px;
    margin: 10px;
    page-break-inside: avoid;
    font-size: 15px;
}

article header {
    width: fit-content;
    text-align: right;
    margin-bottom: 5px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #CCE6D0;
}

article header p {
    background-color: white;
    margin: 0;
    display: block;
}

article a {
    color: #404040;
    text-decoration-color: #A55858;
    text-decoration-style: double;
}

article a:hover {
    color: #A55858;
}

.photoset img { 
    width: 100%; 
    height: 100%; 
    object-fit: contain;
} 

.quad img {
    width: 49.5%; 
    height: 49.5%; 
    object-fit: contain;
}

h4 {
    border-bottom: solid;
    border-color: #CCE6D0;
    margin: 5px 0px;
    padding: 5px 0px;
}

article footer {
    font-size: 13px;
    border-top: solid;
    border-color: #CCE6D0;
    padding-top: 10px;
}

article footer a {
    padding: 0px 2px;
    margin: 2px;
    text-decoration: none;
    background-color: white;
}

.siteFooter {
    width: 150px;
    padding-left: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
}